<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Sharp Groups" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				The #1 source for fantasy sports and pools
			</p>
		</div>
		<div class="row">
                        <p data-ng-hide="authentication.user">
                        	<a class="btn btn-primary btn-lg" href="/#!/signin" target="_blank">Create sharpgroup</a>
                        </p>
			<p data-ng-show="authentication.user">
				<a class="btn btn-primary btn-lg" href="/#!/groups/create" target="_blank">Create sharpgroup</a>
			</p>
		</div>
	</div>
	<div>
		<h2>What is a sharpgroup?</h2>
		<p>A sharpgroup is a tool to create a custom pool for you and your bros. We are NOT a gambling website. We also can not stop you from charging all your friends 10 bucks to enter the sharpgroup. We also can't stop you from paying out the leader of your sharpgroup. And we also can't stop you from shaming the guy who doesn't pay his dues on time by drawing boobs on his face when he passes out at the tailgate after-party. BUT AGAIN WE ARE NOT A GABMBLING WEBSITE!</p>
                <p>Our most popular games are playoff fantasy football and fantasy sportsbook. Sign up, create your sharpgroup, invite your friends and enjoy the fun.</p>
		<ul>
			<li>
				Click
				<em>Signup</em>
				to get started.
			</li>
			<li>
                                Create a sharpgroup.
			</li>
			<li>
				Invite your friends.
			</li>
			<li>
				Good luck.
			</li>
			<li>
				Have fun...
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>F</strong>antasy Sportsbook
			</h2>
			<p><a target="_blank" href="/#!/creategroup">Fantasy Sportsbook</a> is a game that is loosely based on sports betting. You make wagers with fake money AKA sharps. Whoever has the most money at the end of the defined season wins the sharpgroup. This game can be played at any time of the year, for any combinition of available sports currently in season. Sports include NFL, NBA, MLB, NHL, PGA Tour, Triple Crown Races, NCAAB and NCAAF</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>P</strong>layoff Fantasy Football
			</h2>
			<p>Playoff Fantasy Football registration is currently closed. Check back closer to the 2016 NFL playoffs to sign up.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>M</strong>asters Pick'em
			</h2>
			<p>Masters Pick'em registration is currently closed. Check back closer to the 2015 Masters tournament to sign up.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>O</strong>ther Games
			</h2>
			<p>We have plenty of other ideas rolling around in our heads and we plan to stay busy here at sharpgroups. Keep an eye out for more games coming in the future.</p>
		</div>
	</div>
	<br>Enjoy &amp; Tell Us What You Think,
	<br>email customerservice@sharpgroups.com and we promise to get back to you
</section>
