<section data-ng-controller="GroupsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1><span data-ng-controller="WagersController" data-ng-bind="findPublicUserName()"></span> wagers for <span data-ng-bind="group.title"></span></h1>
	</div>
	<style type="text/css">
		.winningBetInfo {
			color: green;
		}
	</style>
	<p id="loadingMessage">Loading...</p>
	<div class="list-group" data-ng-controller="WagersController" data-ng-init="findPublic()">
		<div data-ng-repeat="wager in wagers">
			<div class="list-group-item">
				<small class="list-group-item-text">
					<span data-ng-bind="wager.boardItem.sport"></span>
					on
					<span data-ng-bind="wager.boardItem.eventDate | date:'mediumDate'"></span>
				</small>
				<h4 class="list-group-item-heading winningBetChild"><span data-ng-bind="wager.amount"></span> sharps</h4>
				<p class="list-group-item-text winningBetChild" data-ng-bind="wager.boardItem.description"></p>
				<p class="list-group-item-text winningBetChild" data-ng-bind="wager.boardItem.juice"></p>
				<h3 data-ng-if="wager.boardItem.winner" class="winningBetInfo">PAID: <span data-ng-bind="calcWinnings(wager.amount, wager.boardItem.juice)"></span></h3>
			</div>
		</div>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="wagers.$resolved && !wagers.length">
		This person has not made any wagers in this group.
	</div>
</section>
