<style>
.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 300px;
  position: absolute;
  width: 100%;
}
.messages {
  font-size: 150%;
}

.header-text{
    float: left;
}
.page-header{
  margin: 20px 0 5px;
}

.edit-buttons{
    padding: 15px 10px;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 5px;
  text-align: right;
}

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}

.messagesWrapper {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
.messagesWrapper ul {
  list-style: none;
  word-wrap: break-word;
  position: relative;
}

.messagesWrapper * {
  box-sizing: border-box;
}

.bet-name:empty{
  background-color: black;
  width: 75%;
  height: 15px;
}

.data-table{
  width: 100%;
}

.data-table tr:nth-of-type(odd){
  background: #eee;
}

.data-table th, td{
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

.data-table th{
  background: #333;
  color: white;
  font-weight: bold;
}

.data-table .wonBet{
  color: green;
}

.data-table .lostBet{
  color: red;
}

/*Mobile styling for data tables */
@media only screen and (max-width: 650px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  .recent-bets table,
  .recent-bets thead,
  .recent-bets tbody,
  .recent-bets th,
  .recent-bets td,
  .recent-bets tr {
    display: block;
  }

  .recent-bets th,
  .recent-bets td{
    padding: 2px;
  }

  .recent-bets td:empty{
    height: 25px;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .recent-bets thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .recent-bets tr { border: 1px solid #ccc; }

  .recent-bets td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  .recent-bets td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  .recent-bets td:nth-of-type(1):before { content: "Gambler"; }
  .recent-bets td:nth-of-type(2):before { content: "# of Sharps"; }
  .recent-bets td:nth-of-type(3):before { content: "Juice"; }
  .recent-bets td:nth-of-type(4):before { content: "Date"; }
  .recent-bets td:nth-of-type(5):before { content: "Bet"; }
  .recent-bets td:nth-of-type(6):before { content: "Result"; }
}

.timeEntered, .messageEntered{
  color: gray;
  font-size: 70%;
}

.messageEntered {
  text-align: center;
  display: list-item;
  margin: 5px;
}

</style>
<section data-ng-controller="GroupsController" data-ng-init="findOne()">
    <div data-ng-if="authentication.user._id != null">
    	<div class="page-header clearfix">
    		<h1 data-ng-bind="group.title" class="header-text"></h1>
            <div class="pull-right edit-buttons" data-ng-show="authentication.user._id == group.commissioner._id">
                <a class="btn btn-primary" href="/#!/groups/{{group._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary" data-ng-click="remove();">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
    	</div>

    	<p class="lead" data-ng-bind="group.description"></p>
        <small>
            <em class="text-muted">
                Created on
                <span data-ng-bind="group.created | date:'mediumDate'"></span>
                by
                <span data-ng-bind="group.commissioner.displayName"></span>
            </em>
            |
            <em class="text-muted">
                Starting bankroll
                <span data-ng-bind="group.bankroll"></span>
            </em>
            |
            <em class="text-muted">
                Max bet
                <span data-ng-bind="group.maxBet"></span>
            </em>
            |
            <em class="text-muted">
                Dates
                <span data-ng-bind="group.startDate | date:'mediumDate'"></span>
                -
                <span data-ng-bind="group.endDate | date:'mediumDate'"></span>
            </em>
            |
            <em class="text-muted">
                Current Players
                <span>{{getPlayerCount() | number:0}}</span>
            </em>
        </small>
        <div data-ng-show="!group.userInGroup">
    	    <!-- <button class="btn btn-primary btn-lg" ng-click="joinGroup()" ng-if="!groupExpired(group)">Join sharpgroup</button> -->
    	</div>
    	<div data-ng-show="group.userInGroup">
    		<h2>Your Bankroll: <span data-ng-bind="group.userBankroll"></span></h2>
    		<a class="btn btn-primary btn-lg" ng-if="groupHasWagersAvailable(group)" href="/#!/events/{{group._id}}"}>Place a wager</a>
    		<a class="btn btn-primary btn-lg" href="/#!/wagers/{{group._id}}"}>View your wagers</a>

    		<div class="page-header">
    			<h1>Leaderboard</h1>
    		</div>
    		<div class="list-group" data-ng-init="getGroupUsersAndBankrolls()">
          <table class="data-table leaderboard">
            <thead>
              <tr>
                <th>Gambler</th>
                <th># of sharps</th>
                <th>Sharps in Waiting</th>
                <th>Precentage of Pot</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="item in items">
                <td><a data-ng-bind="item.displayName" href="/#!/wagers/leaderboard/{{group._id}}/{{item.userID}}/{{item.displayName}}"></a></td>
                <td data-ng-bind="item.amount"></td>
                <td data-ng-bind="item.moneyInFlight"></td>
                <td data-ng-bind="item.percentage"></td>
              </tr>
            </tbody>
          </table>
    		</div>

        <div class="page-header">
          <h1>Recent Bets</h1>
        </div>
        <div class="list-group" data-ng-init="getRecentWagers()">
          <table class="data-table recent-bets">
            <thead>
              <tr>
                <th>Gambler</th>
                <th># of sharps</th>
                <th>Juice</th>
                <th>Date</th>
                <th>Bet</th>
                <th>Result</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="item in recentWagers" ng-class="{wonBet: item.winner, lostBet: !item.winner && item.processed}">
                <td><a data-ng-bind="item.user" href="/#!/wagers/leaderboard/{{group._id}}/{{item.userID}}/{{item.user}}"></a></td>
                <td data-ng-bind="item.amount"></td>
                <td data-ng-bind="item.juice"></td>
                <td data-ng-bind="item.created | date:'M/d h:mm a'"></td>
                <td data-ng-bind="item.betName" title={{item.teams}}></td>
                <td data-ng-bind="item.change"></td>
              </tr>
            </tbody>
          </table>
        </div>

    		<div class="page-header">
    			<h1>Messages</h1>
    		</div>
    		<div class="messagesWrapper">
    		    <ul class="pages">
    		        <li class="chat page">
    		            <div class="chatArea">
    		                <ul class="messages">
    				            <li ng-repeat="message in group.messages.slice().reverse()" class="message">
    					            <span ng-if="shouldDisplayMessageEntered(message.entered)" class="messageEntered">{{message.entered | date : short}}</span>
    					            <br ng-if="shouldDisplayMessageEntered(message.entered)">
    					            <span class="username">{{message.userName}}</span>
                                    <span class="timeEntered">{{message.entered | date : 'h:mm a'}}</span>
    					            <span class="messagetext">{{message.text}}</span>
    				            </li>
    			            </ul>
    		            </div>
    		            <input type="text" id="chatBox" ng-keypress="chatPress($event, group)" class="inputMessage" placeholder="Type here..."/>
    		        </li>
    		  </ul>
    		</div>
    	</div>
    </div>
    <div data-ng-if="authentication.user._id == null">
    	Sign in to view/join group
    </div>
</section>
