<section data-ng-controller="GroupsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="group.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == group.commissioner._id">
		<a class="btn btn-primary" href="/#!/groups/{{group._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="group.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="group.commissioner.displayName"></span>
		</em>
                <br />
		<em class="text-muted">
			Starting bankroll
			<span data-ng-bind="group.bankroll"></span>
		</em>
                <br />
		<em class="text-muted">
			Max bet
			<span data-ng-bind="group.maxBet"></span>
		</em>
                <br />
                <em class="text-muted">
			Start date
			<span data-ng-bind="group.startDate | date:'mediumDate'"></span>
		</em>
                <br />
                <em class="text-muted">
			End date
			<span data-ng-bind="group.endDate | date:'mediumDate'"></span>
		</em>
		<br />
                <em class="text-muted">
			Currently
			<span>{{getPlayerCount() | number:0}}</span>
			players
		</em>
	</small>
	<p class="lead" data-ng-bind="group.description"></p>
        <div data-ng-show="!group.userInGroup">
		<button class="btn btn-primary btn-lg" ng-click="joinGroup()">Join sharpgroup</button>
	</div>
	<div data-ng-show="group.userInGroup">
		<p>You are a member of this group.</p>
		<h2>Your Bankroll: <span data-ng-bind="group.userBankroll"></span></h2>
		<a class="btn btn-primary btn-lg" href="/#!/events/{{group._id}}"}>Place a wager</a>
		<a class="btn btn-primary btn-lg" href="/#!/wagers/{{group._id}}"}>View your wagers</a>
	</div>
</section>
