<section data-ng-controller="GroupsController" data-ng-init="findOne()">
   <p id="loadingMessage">Loading...</p>
   <div data-ng-controller="BoardItemsController" data-ng-init="find(group)">
      <div class="panel panel-betboard">
         <div class="panel-heading">
            <h3 class="panel-title">BET BOARD</h3>
            <h4 class="panel-secondary-title">BETS FOR THE <span data-ng-bind="group.title"></span> GROUP</h4>
          </div> 
	  <div class="panel-body"> 	  
	    Sorting By: 	  
            <select><!-- data-ng-model="group.events" ng-options="ev.title for ev in group.events" --> <!-- we will want to do something like this, but group.events is not populated -->
	      <option label="All">All</option>
	    </select>
	  </div> 
      </div>
       
      <div data-ng-repeat="boardItem in boardItems">
         <div ng-if="!boardItem.expired">
            <div class="row" ng-if="$index % 2 == 0">
               <div class="col-md-6 col-xs-12" ng-repeat="boardItem in boardItems.slice($index, $index+2)">
                  <div class="panel panel-betboard-item">
                     <div ng-class="getClassForBoardItem(boardItem)" class="panel-heading">
                        <h3 class="panel-title"><span data-ng-bind="boardItem.eventDate | date:'mediumDate'"></span><span style="float:right" data-ng-bind="boardItem.eventType.title"></span></h3>
                     </div>
                     <div class="panel-body" ng-class="getClassForBoardItem(boardItem)">  
                        <h4 class="list-group-item-heading description" data-ng-bind="boardItem.description"></h4>
                        <p class="list-group-item-text" data-ng-bind="boardItem.juice"></p>
                        <hr> 
                        <a ng-hide="showwager" ng-click="showwager=true" style="cursor:pointer">Start Wager Process</a> 
                        <a ng-show="showwager" ng-click="showwager=false" style="cursor:pointer">Cancel Wager Process</a> 
<form ng-show="showwager" class="form-inline">
                          <div ng-show="showwager" class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon"><b>S</b></div>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
    </div>
  </div>
  <button type="submit" class="btn btn-default">Make Wager</button>
</form>
                     </div> 
                  </div> 
               </div> 
            </div>
            <!--div ng-class="getClassForBoardItem(boardItem)" class="list-group-item">
                        <a style="padding:0px; border:0px" data-ng-href="#!/boardItem/{{boardItem._id}}/{{group._id}}" class="sub-anchor list-group-item">
                           <small class="list-group-item-text">
                              <span data-ng-bind="boardItem.sport"></span>
                              on
                              <span data-ng-bind="boardItem.eventDate | date:'mediumDate'"></span>
                           </small>
                           <h4 class="list-group-item-heading description" data-ng-bind="boardItem.description"></h4>
                           <p class="list-group-item-text" data-ng-bind="boardItem.juice"></p>
                        </a>	
                     </div>
                     <div style="text-align: right; display:table-cell; vertical-align: middle">	
                        <a class="btn btn-primary btn-lg " data-ng-href="#!/wagers/create/{{boardItem._id}}/{{group._id}}">Place Wager</a>
                     </div>
            </div-->
         </div>
      </div>
   </div>
   <div class="alert alert-warning text-center" data-ng-if="boardItems.$resolved && !boardItems.length">
      Sorry, there is no board for the time frame of your group.
   </div>
</section>
