<section data-ng-controller="GroupsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1><span data-ng-bind="group.title"></span> Bet Board</h1>
	</div>
	<h2>Click on an item below to inspect it.</h2>
	
	<div class="list-group" data-ng-controller="BoardItemsController" data-ng-init="find()">
		<div data-ng-repeat="boardItem in boardItems" style="height:84px">
		<div style="position: relative; height 100%">
			<a data-ng-href="#!/boardItems/{{boardItem._id}}/{{group._id}}" class="list-group-item" style="position: absolute; width: 100%">
				<small class="list-group-item-text">
					<span data-ng-bind="boardItem.sport"></span>
					on
					<span data-ng-bind="boardItem.eventDate | date:'mediumDate'"></span>
				</small>
				<h4 class="list-group-item-heading" data-ng-bind="boardItem.description"></h4>
				<p class="list-group-item-text" data-ng-bind="boardItem.juice"></p>
			</a>
			<a class="btn btn-primary btn-lg" data-ng-href="#!/wagers/create/{{boardItem._id}}/{{group._id}}" style="margin: 20px; position: absolute; right: 0%">Place Wager</a>
		</div>
		</div>
		<div class="alert alert-warning text-center" data-ng-if="boardItems.$resolved && !boardItems.length">
			Sorry, there is no board for the time frame of your group.
		</div>
	</div>
</section>
