<section data-ng-controller="BoardItemsController" data-ng-init="findOne()">
	<div data-ng-controller="GroupsController" data-ng-init="findOne()">
		<div class="page-header">
			<h1 data-ng-bind="boardItem.description"></h1>
		</div>
		<p class="lead" data-ng-bind="boardItem.juice"></p>
	        <div data-ng-controller="WagersController" data-ng-show="!findWagerForUser()">
			<a class="btn btn-primary btn-lg" data-ng-href="#!/wagers/create/{{boardItem._id}}/{{group._id}}">Place Wager</a>
		</div>
		<div data-ng-controller="WagersController" data-ng-show="findWagerForUser()">
			<h2>You have placed this wager. Good Luck!</h2>
		</div>
	</div>
</section>
